@{
    ViewData["Title"] = "Home Page";
}
<div class="content-wrapper chat-area">
    <br />
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                @*<div class="col-lg-0 col-md-4"></div>*@
                <section class="col-lg-12 connectedSortable">
                    <div class=" container d-flex justify-content-center align-items-center flex-grow-1 text-center">
                        <div>
                            <h1 class="display-4">💬</h1>
                            <h1>Select a Conversation</h1>
                            <p> Try selecting a conversation or searching for someone specific.</p>
                        </div>
                    </div>
                </section>
                <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>